html,
body,
.main-wrapper
{
  background-color: #1f7e9a;
  height: 100%;
  width: 100%;
}

.main-wrapper,
h1,h2,h3,h4,h5,h6,
.app
{
  text-align: center;
}

.main-wrapper
{
  position: relative;
}

.app
{
  background-color: white;
  margin: 0 auto;
  height: 100%;
  width: 320px;
}