<!DOCTYPE html>
<html lang="en" ng-app="lesModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Les.New.ng</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/my.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container main-wrapper" ng-controller="LesCtrl">
    <div class="container app">
        <!-- ВЕРХНИЕ ДАТЧИКИ -->
        <div class="row total-main-data">
           Total V - <span id="total_v">33 500</span>&nbsp;
            Ср. <i class="fa fa-ban" aria-hidden="true"></i> - <span id="aver_diam">25.75</span>
        </div>
        <hr>
        <!-- ИНФОРМАЦИОННОЕ ПОЛЕ -->
        <div class="row">
            <input type="text" ng-model="diam">
        </div>
        <!-- ПОЛЕ ДАТЧИКОВ -->
        <div class="row">

        </div>
        <!-- ПОЛЕ ВСЕЙ ЗАГРУЗКИ -->
        <div class="row">

        </div>
        <!-- ДАННЫЕ КОНТЕЙНЕРА -->
        <div class="row">

        </div>
        <!-- УПРАВЛЯЮЩИЕ КНОПКИ -->
        <div class="row">

        </div>
    </div><!-- .app -->
    <div class="keyboard row">
        <table class="table table-bordered table-inverse">
            <tr>
                <td ng-click="addDiam(6)">6</td>
                <td ng-click="addDiam(7)">7</td>
                <td ng-click="addDiam(8)">8</td>
                <td ng-click="addDiam(9)">9</td>
                <td><i class="fa fa-plus-square" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td ng-click="addDiam(2)">2</td>
                <td ng-click="addDiam(3)">3</td>
                <td ng-click="addDiam(4)">4</td>
                <td ng-click="addDiam(5)">5</td>
                <td><i class="fa fa-forward" aria-hidden="true"></i></td>
            </tr>
            <tr>
                <td ng-click="addDiam(0)">0</td>
                <td ng-click="addDiam(1)">1</td>
                <td ng-click="removeDiam()"><i class="fa fa-arrow-left" aria-hidden="true"></i></td>
                <td><i class="fa fa-level-down" aria-hidden="true"></i></td>
                <td><i class="fa fa-minus-square" aria-hidden="true"></i></td>
            </tr>
        </table>
    </div>
</div><!-- .main-wrapper -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script src="js/jquery-3.0.0.min.js"></script>-->
<script src="js/jquery11.min.js"></script>
<!-- AngularJS -->
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
<script>
    //$('body').css('background-color','red');
</script>

</body>
</html>